<div class="app mat-app-background" [attr.theme]="stateService.state.theme$ | async">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>One Search</span>
            <span class="fill-rest"></span>
            <a routerLink="/search" mat-button routerLinkActive="active">Search</a>
            <a routerLink="/settings" mat-button routerLinkActive="active">Settings</a>
        </mat-toolbar-row>
    </mat-toolbar>
    <div id="container">
        <div class="page">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>