@import '~@angular/material/theming';

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat-core();

$theme-primary: mat-palette($mat-indigo);
$theme-accent: mat-palette($mat-pink);
$theme-warn: mat-palette($mat-red);

light {
    @include angular-material-theme(mat-light-theme($theme-primary, $theme-accent, $theme-warn));
}

dark {
    @include angular-material-theme(mat-dark-theme($theme-primary, $theme-accent, $theme-warn));
}

[theme="light"] {
    @extend light;
}

[theme="dark"] {
    @extend dark;
}